# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.env

# Node.js
node_modules/
dist/
npm-debug.log
yarn-error.log

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Build
*.egg-info/
build/
*.log

# Audio/Video temp
*.mp3
*.wav

# Virtual environments
.venv/
venv/
